@model RookieEShop.Shared.ProductVm

@{ ViewData["Title"] = "Home Page"; }

<div class="row mt-4">
	<div class="col-md-4">
		<div class="card mb-4 shadow-sm">
			<img class="bd-placeholder-img card-img-top" src="https://localhost:5001/@Model.ThumbnailImageUrl" />
			<div class="card-body">
				<p class="card-text">Author: @Model.Author</p>
				<h3 class="card-text">@Model.Name</h3>
				<p class="card-text">Year: @Model.Year</p>
				<p class="card-text">Publisher: @Model.Publisher</p>
				<h3 class="card-text"><strong>Price:</strong> @Model.Price VND</h3>
				<p class="card-text"><strong>Description:</strong> @Model.Description</p>
				<form asp-controller="Product" asp-action="ProductRating" method="post">
					<b>Choose your rating: </b>
					<fieldset class="rate">
						<input type="radio" id="rating5" name="Rating" value="5" /><label for="rating5" title="5 stars"><i class="fas fa-star"></i></label>
						<input type="radio" id="rating4" name="Rating" value="4" /><label for="rating4" title="4 stars"><i class="fas fa-star"></i></label>
						<input type="radio" id="rating3" name="Rating" value="3" /><label for="rating3" title="3 stars"><i class="fas fa-star"></i></label>
						<input type="radio" id="rating2" name="Rating" value="2" /><label for="rating2" title="2 star"><i class="fas fa-star"></i></label>
						<input type="radio" id="rating1" name="Rating" value="1" /><label for="rating1" title="1 star"><i class="fas fa-star"></i></label>
					</fieldset>
					<button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>
