@model RookieEShop.Shared.ProductVm

@{ ViewData["Title"] = "Home Page"; }

<div class="row mt-4">
	<div class="col-md-4">
		<div class="card mb-4 shadow-sm">
			<img class="bd-placeholder-img card-img-top" src="https://localhost:44305/@Model.ThumbnailImageUrl" />
			<div class="card-body">
				<p class="card-text">Author: @Model.Author</p>
				<h3 class="card-text">@Model.Name</h3>
				<p class="card-text">Year: @Model.Year</p>
				<p class="card-text">Publisher: @Model.Publisher</p>
				<h3 class="card-text"><strong>Price:</strong> @Model.Price VND</h3>
				<p class="card-text"><strong>Description:</strong> @Model.Description</p>
				<form asp-controller="Product" asp-action="ProductRating" method="post">
					<input type="hidden" name="productId" value="@Model.Id" />
					<b>Choose your rating: </b>
					<div>
						<fieldset class="rate">
							<input type="radio" id="5-star" name="val" value="5" />
							<label for="5-star" title="Amazing"><i class="fas fa-star"></i></label>
							<input type="radio" id="4-star" name="val" value="4" />
							<label for="4-star" title="Good"><i class="fas fa-star"></i></label>
							<input type="radio" id="3-star" name="val" value="3" />
							<label for="3-star" title="Average"><i class="fas fa-star"></i></label>
							<input type="radio" id="2-star" name="val" value="2" />
							<label for="2-star" title="Not Good"><i class="fas fa-star"></i></label>
							<input type="radio" id="1-star" name="val" value="1" />
							<label for="1-star" title="Bad"><i class="fas fa-star"></i></label>
						</fieldset>
					</div>
					<button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>
