@model List<RookieEShop.Shared.CartVm>

<h2>Your Cart</h2>

@if (User.Identity.IsAuthenticated)
{
	decimal total = 0;
	int id = 1;

	<table class="table">
		<tr>
			<th>#</th>
			<th>Sản phẩm</th>
			<th>Giá</th>
			<th>Số lượng</th>
			<th>Thành tiền</th>
			<th></th>
		</tr>

		@foreach (var cartItem in Model)
		{
			var Sum = cartItem.Quantity * cartItem.ProductPrice;
			total += Sum;

			<tr>
				<td>@(id++)</td>
				<td>@cartItem.ProductName</td>
				<td>@cartItem.ProductPrice.ToString("n0")</td>
				<td><input asp-for="@cartItem.Quantity" id="@($"quantity-{cartItem.Id}")" /></td>
				<td>@cartItem.Price.ToString("n0")</td>
				<td>
					<button type="button" class="btn btn-primary">
						Update
					</button>
					<button type="button" class="btn btn-danger">Delete</button>
				</td>
			</tr>
		}
	</table>
}