@model RookieEShop.Shared.DeliveryInformationVm

@section Styles {
	<link rel="stylesheet" href="~/css/Checkout.css" />
}

@{
	ViewData["Title"] = "Ordering Page";
	ViewData["Add"] = "Add another address";
}

<div class="row">
	<div class="col-md-8">
		<form asp-controller="Cart" asp-action="Checkout" method="POST">
			@foreach (var address in Model.ExistingShippingAddress)
			{
				var i = 0;
				<div class=" radio">
					<label>
						<input type="radio" name="ShippingAddressId" checked="@(++i == 1 ? "checked" : null)" value="@(address.Id)" />
						<strong>@address.ContactName</strong><br />
						@address.HomeAddress <br />
						@address.PhoneNumber
					</label>
				</div>
			}
			<div class="radio">
				<label>
					<input type="radio" name="ShippingAddressId" checked="@(Model.ShippingAddressId == 0 ? "checked" : null)" value="0" />
					@ViewData["Add"]
				</label>
			</div>

			<div class="create-shipping-address collapse">
				<label>
					<span class="fname">Name <span class="required">*</span></span>
					<input asp-for="NewAddress.ContactName" type="text" >
				</label>
				<label>
					<span>Town / City <span class="required">*</span></span>
					<input asp-for="NewAddress.OrderCity" type="text" required>
				</label>
				<label>
					<span>District <span class="required">*</span></span>
					<input asp-for="NewAddress.OrderDistrict" type="text" required>
				</label>
				<label>
					<span>Street Address <span class="required">*</span></span>
					<input asp-for="NewAddress.HomeAddress" type="text" placeholder="House number and street name" required>
				</label>
				<label>
					<span>Phone <span class="required">*</span></span>
					<input asp-for="NewAddress.PhoneNumber" type="text" required>
				</label>
			</div>
			<div class="form-group">
				<div class="text-right">
					<button type="submit" class="btn btn-success">Finish the order</button>
				</div>
			</div>
		</form>
		<div class="text-right">
			<form asp-route="cancelOrder" method="post">
				<button type="submit" class="btn btn-danger">Cancel</button>
			</form>
		</div>
	</div>
	<div class="col-md-4">
		@await Component.InvokeAsync("OrderSummary")
	</div><!-- Yorder -->
</div>

@section scripts{
	<script src="~/js/checkout.js"></script>
}