@model RookieEShop.Shared.OrderVm;
@section Styles {
	<link rel="stylesheet" href="~/css/historystyle.css" />
}

@{
	ViewData["Title"] = "Order Detail";
	decimal money = 0M;
}

<div class="bottom">
	<div class="heading">
		<span>@ViewData["Title"] #@(Model.OrderName)</span>
		<span class="split"> - </span>
		<span class="status">@(Model.StatusCart)</span>
	</div>
	<div class="create-date">
		<span>Created At:</span>
		@(Model.CreatedAt)
	</div>
	<div class="information">
		<div class="col">
			<div class="title">Address</div>
			<div class="content">
				<p class="name">@(Model.OrderAddressForm.ContactName)</p>
				<p class="address">
					<span>Address: </span>@(Model.OrderAddressForm.HomeAddress), @(Model.OrderAddressForm.OrderDistrict), @(Model.OrderAddressForm.OrderCity)
				</p>
				<p class="phone">
					<span>Phone:</span> 0@(Model.OrderAddressForm.PhoneNumber)
				</p>
			</div>
		</div>
		<div class="col">
			<div class="title">Delivery method</div>
			<div class="content">
				<p class="name">@(Model.ShippingMethod)</p>
				<p class="address">
					<span>Fee: </span>@(Model.ShippingFee)
				</p>
				<p class="phone">
					<span>Delivery Date:</span> @(Model.DeliveryDay)
				</p>
			</div>
		</div>
		<div class="col">
			<div class="title">Payment method</div>
			<div class="content">
				<p class="name">@(Model.PaymentMethod)</p>
			</div>
		</div>
	</div>
	<table class="tbl">
		<thead>
			<tr>
				<th>Product</th>
				<th>Price</th>
				<th>Qty</th>
				<th>Discount</th>
				<th>Temp caculate</th>
			</tr>
		</thead>
		@foreach (var index in Model.OrderDetail)
		{
			money += index.Price * index.Qty;
			<tbody>
				<tr>
					<td>
						<div class="product-item">
							<img src="https://localhost:44305/@index.ThumbnailImageUrl"
								 alt="@(index.ProductName)">
							<div class="product-info">
								<a href="~/Product/ProductDetail?productId=@(index.ProductId)" class="product-name">@(index.ProductName)</a>
							</div>
						</div>
					</td>
					<td class="price">@String.Concat(String.Format("{0:#,##0}", index.Price), "VND")</td>
					<td class="quantity">@(index.Qty)</td>
					<td class="discount-amount">@(index.Discount)</td>
					<td class="raw-total">@String.Concat(String.Format("{0:#,##0}", (index.Price)), "VND")</td>
				</tr>
			</tbody>
		}
		<tfoot>
			<tr>
				<td colspan="4">
					<span>Temp Calculate</span>
				</td>
				<td>@String.Concat(String.Format("{0:#,##0}", money), "VND")</td>
			</tr>
			<tr>
				<td colspan="4">
					<span>Discount</span>
				</td>
				<td>0 VND</td>
			</tr>
			<tr>
				<td colspan="4">
					<span>Shipping fee</span>
				</td>
				<td>@String.Concat(String.Format("{0:#,##0}", Model.ShippingFee), "VND")</td>
			</tr>
			<tr>
				<td colspan="4">
					<span>Sum</span>
				</td>
				<td>
					<span class="sum">@String.Concat(String.Format("{0:#,##0}", money - Model.ShippingFee), "VND")</span>
				</td>
			</tr>
		</tfoot>
	</table>
	@if (Model.StatusCart != "New")
	{
		<a href="#" class="btn btn-secondary" id="btn3" disabled="disabled">Cancel Order</a>
	}
	else
	{
		<a asp-route="cancelorder" asp-route-id="@Model.OrderId" class="btn btn-secondary" id="btn3">Cancel Order</a>
	}
	<a asp-action="Tracking" asp-controller="Order" class="btn btn-success" id="btn2">Tracking</a>
	<a asp-action="History" asp-controller="Order" id="btn1">&lt;&lt; Back to the order list</a>
</div>